<% post.comments.each do |comment| %>
  <div class="comment">
    <span class="comment-author"><%= comment.user.username %></span>
    <%= comment.body %>
    <div class="comment-actions">
      <% if current_user %>
        <%= turbo_frame_tag "#{dom_id(comment)}-likebutton" do %>
          <% if current_user.likes?(comment) %>
            <%= render partial: "likes/unlike_button", locals: {liked: comment}%>
          <% else %>
            <%= render partial: "likes/like_button", locals: {liked: comment}%>
          <% end %>
        <% end %>
      <% end%>
    </div>
  </div>
<% end %>
